

 <div class="container" style="background-color: bisque; line-height:35px" >
      <div class="login-form">
        <form action="/verify-otp/{{phone}}" method="post">
          
           <h2 class="fw-bold mb-2 text-uppercase">Enter OTP</h2>
              {{#if number}}
              <p class="eror trext-danger" style="color: red;">Invalid Otp Please Check Phone Number </p>
              {{else}}
                <p class="text-light" style="color: blue;">{{phone}}</p>
              {{/if}}

            <label class="form-label" for="typeEmailX">Enter OTP</label>            
           <input type="text" name="phoneVerify" class="form-control form-control-lg" />
                          
           <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/resent-otp/{{phone}}">Resent OTP </a></p>         

          <div class="buttons">
            
            <button type="submit" class="signupbtn">VERIFY OTP</button>
          </div>
           <p class="mb-0">Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign Up</a>
              </p>
        </form>
      </div>
    </div>